name: Docs

on:
  workflow_dispatch:
    inputs:
      publish:
        default: false
        type: boolean
      version:
        default: ''
        required: false
        type: string
      branch:
        description: 'Branch/tag with documentation source. If not set, the current branch will be used.'
        default: ''
        required: false
        type: string
  workflow_call:
    inputs:
      publish:
        default: false
        type: boolean
      version:
        default: ''
        required: false
        type: string
      branch:
        description: 'Branch/tag with documentation source. If not set, the current branch will be used.'
        default: ''
        required: false
        type: string
      linkcheck:
        description: 'Run the link checker. If not set the link checker will not be run.'
        default: false
        required: false
        type: boolean

env:
  VERSION: ${{ inputs.version }}

jobs:
  docs:
    name: Build documentation
    runs-on: 'ubuntu-22.04'
    defaults:
      run:
        shell: bash -l {0}  # required for conda env
    steps:
      - run: sudo apt install --yes graphviz pandoc
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch == '' && github.ref_name || inputs.branch }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0  # history required so cmake can determine version
      - uses: mamba-org/setup-micromamba@v1
        if: ${{ inputs.version != '' }}
        with:
          environment-file: .buildconfig/ci-linux.yml
          cache-environment: true
          create-args: >-
            python=3.10
            scippneutron==${{ inputs.version }}
      - uses: mamba-org/setup-micromamba@v1
        if: ${{ inputs.version == '' }}
        with:
          environment-file: .buildconfig/ci-linux.yml
          cache-environment: true
          create-args: >-
            python=3.10
            conda-build
      - run: pip install --no-build-isolation --no-deps -e .
        if: ${{ inputs.version == '' }}
      - run: python -m sphinx -W -v -b doctest -d doctrees docs html
      - run: python -m sphinx -W -v -b html -d doctrees docs html
      - run: find html -type f -name "*.ipynb" -not -path "html/_sources/*" -delete
      - run: tox -e linkcheck
        if: ${{ inputs.linkcheck }}
      - uses: actions/upload-artifact@v4
        with:
          name: docs_html
          path: html/
      - uses: JamesIves/github-pages-deploy-action@v4.6.1
        if: ${{ inputs.publish }}
        with:
          branch: gh-pages
          folder: html
          single-commit: true
